.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

footer {
  text-align: center;
  height: 80px;
  bottom: 0px;
  width: 100%;
  background-color: #FFFFFF;
  font-size: 12px;
  color: #bebebe;
  margin-top: 20px;
}

footer hr {
  width: 100%;
  margin: 0px;
}

footer a {
  color: #bebebe;
}

.carousel-inner>.item>img {
  margin: 0 auto;
  height: 354px;
  width: 100%;
}

.left .carousel-control{
  height: 354px;
}

.nav .navbar {
  min-height: 44px;
}

.navbar .container {
  height: 44px;
}

.navbar-default {
  background-color: #175FA9;
  border-color: #175FA9;
  border-radius: 0;
  min-height: 44px;
  margin-bottom: 1px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
  padding-top: 10px;
  padding-left: 35px;
  font-size: 14px;
  height: 44px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
  vertical-align: middle;
}

.navbar-default .navbar-nav > li {
  margin: 5px;
  vertical-align: middle;
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

ul li{
  list-style: none;
}

.bodyClass {
  width: 70%;
  margin: 0 auto 50px;
  /*background: #FFFFFF;*/
}

.bodyClassPage {
  width: 70%;
  margin: 0 auto 50px;
  background: #FFFFFF;
}

.container{
  width: auto!important;
}
#anli li{
  /*width: 50%;*/
}
#anli li img{
  width: 100%;
}
.news{
  margin-top: 18px;
}
.news .headT{
  text-align: left;
}
.news a.more{
  float: right;
}
.news hr.line{
  margin:10px 0;
}
#dongtai{
  padding: 0;
}
#dongtai li{
  text-align: left;
}
.nomargin{
  margin: 0 auto 1px;
  height: 44px;
}
.head {
  height: 110px;  
  background: : url(../img/top_bg.jpg) 0 0 repeat-x;
}
.head .headText{
  font-size: 40px;
  float: left;
  vertical-align: middle;
  padding: 10px;
}
.head img {
  float: left;
  vertical-align: middle;
  padding: 0px;
}
.map {
  vertical-align: middle;
  width: 470px;
  height: 350px;
  padding-left: 180px;
  padding-top: 80px;
  text-align: left;
}

.caseType {
  /*width: 15%;*/
  float: left;
  padding: 0;
}
.caseType .title{
  padding: 10px 0;
  background: #175FA9;
  color: #fff;
}
.caseType li {
  list-style: none;
  width: 243px;/*具体数值自行修改，下一行相同*/
  overflow: hidden;
}

.caseContent {
  width: 642px;
  float: right;
  margin: 5px;
  padding: 0px;
}

.li-hover:hover{
  cursor: pointer;
  color: red;
}

.nopadding {
  padding: 0;
}

li .caseTitle {
  float: left;
  color: red;
}

li .caseTitle:hover {
  cursor: pointer;
  color: red;
}

li .datetime {
  float: right;
  margin: 0;
}
.panel-heading {
  font-size: 20px;
  text-align: center;
}
.datetimeTitle {
  float: right;
  color: red;
  font-size: 10px;
  margin-top: 20px;
}
.list-group-item{
  overflow: hidden;
}
.right-li{
  padding: 12px 5px;
}
.anliTitle {
  float: left;
}
.anliTitle:hover {
  cursor: pointer;
  color: red;
}
.bannerImg {
  max-width:896px;//这是DIV的大小
  width:expression(this.width > 896 ? "896px" : this.width);//实现按比例缩放
}